# Global
PREFIX=gbb
LOCATION=eastus
RG_NAME=rg-${PREFIX}-druid-demo
BICEP_FILE=bicep/deploy.bicep
ARM_DEPLOYMENT_NAME=$PREFIX-$LOCATION-deployment

# SQL
SQL_ADMIN=druidadmin
SQL_PASSWORD="nJ0fqrQx7T^NZFl4sFf*U"

# Linux 
ADMIN_USER_NAME=retroadmin
